<pi-modal>
    <pi-form>
        <pi-grid>

            <pi-column>
                <pi-form-field>
                    <pi-form-label>
                        test
                    </pi-form-label>
                    <input piInput type="text">
                </pi-form-field>
            </pi-column>
            <pi-column>
                <pi-form-field>
                    <pi-form-label>
                        test
                    </pi-form-label>
                    <input piInput type="text">
                </pi-form-field>
            </pi-column>
            <pi-column>
                <pi-form-field>
                    <pi-form-label>
                        test
                    </pi-form-label>
                    <input piInput type="text">
                </pi-form-field>
            </pi-column>
            <pi-column>
                <pi-form-field>
                    <pi-form-label>
                        test
                    </pi-form-label>
                    <input piInput type="text">
                </pi-form-field>
            </pi-column>

        </pi-grid>
        <pi-grid [columns]="1">
            <pi-column>
                <pi-form-field>
                    <pi-form-label>
                        test2
                    </pi-form-label>
                    <input piInput type="text">
                </pi-form-field>
            </pi-column>
        </pi-grid>
    </pi-form>
</pi-modal>